body {
    background-color: #e4c283;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: rgb(195, 167, 106);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.login {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

.desc {
    font-style: italic;
    font-size: 14px;
    color: #555;
}

.socials img {
    width: 24px;
    margin: 5px;
    cursor: pointer;
}

.contact-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #005fa3;
}

/* ตารางล่องหน */
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: none;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #ffc107;
}